- var pageTitle = 'Trigger'

include ../_mixins

extends ../layout

block content

  #job

    h1 Job: #{job._id}

    .info
      .trigger
        span.label Trigger
        span
          a(href=trigger.viewUrl) #{job.trigger.name}

      .url
        span.label Request URL
        span
          +renderUrlTemplate(trigger.urlTemplate)
      if !_.isEmpty(trigger.ansibleVars)
      .ansibleVars
        span.label Ansible variables
        table
          thead
            th Name
            th Value
            th Description
          - each meta, key in trigger.ansibleVars
            tr
              td #{key}
              td 
                case meta.type
                  when 'config'
                    span #{meta.value}
                  when 'query'
                    em Obtained from request
                  when 'generated'
                    em Generated from request
              td #{meta.desc}




    h2 Logs

    +renderLogTable(logs, true, true)
