- var pageTitle = 'Trigger'

include ../_mixins

extends ../layout

block content

  #job

    h1 Job: #{job._id}

    .info
      .trigger
        span.label Trigger
        span
          a(href=job.trigger.viewUrl) #{job.trigger.description}

      .time
        span.label Started
        span #{prettyPrintTimestamp(job.created_at)}

      if !_.isEmpty(job.queryParams)
        .queryParams
          span.label Query parameters
          table
            thead
              th Name
              th Value
            - each value, key in job.queryParams
              tr
                td #{key}
                td.code #{value}


    h2 Logs

    +renderLogTable(logs, true, true)
