mixin renderUrlTemplate(urlTemplate)
  span.urlTemplate
    span.path #{urlTemplate.path}
    if !_.isEmpty(urlTemplate.queryParams)
      span ?
      span.params
        - each meta,name in urlTemplate.queryParams
          span.param(title=meta.desc)
            span.name #{name}
            span =
            span.value #{meta.value}
          span.qryStringSpacer &



mixin renderLogTable(logs, hideTriggerColumn, hideJobColumn)
  if 0 < logs.length
    table.logs
      thead
        th.time Time

        if !hideTriggerColumn
          th.trigger Trigger

        if !hideJobColumn
          th.job Job

        th.text Text
      - each log in logs
        tr
          td #{prettyPrintTimestamp(log.created_at)}

          if !hideTriggerColumn
            - var triggerName = log.trigger.description || log.trigger;
            td 
              a(title="View trigger", href="/triggers/" + (log.trigger._id || log.trigger)) #{triggerName}

          if !hideJobColumn
            td 
              a(title="View job", href="/jobs/" + log.job._id) #{log.job._id}

          - var textTdClass = (log.meta && log.meta.console ? 'console': '')
          td(class="text " + textTdClass)
            if log.meta && (log.meta.console || log.meta.error)
              - var preClass = log.meta.error ? 'error': ''
              pre(class=preClass) #{log.text}
            else
              div
                +renderExpandableChunk(log.text)
  else
    em No logs found



mixin renderJobTable(logs)
  if 0 < jobs.length
    table.jobs
      thead
        th.time Time
        th.job Job
        th.source Source
        th.params Params
        th.result Result
      - each log in logs
        tr
          td #{prettyPrintTimestamp(job.created_at)}
          td
            a(href="/jobs/" + job._id) #{job._id}
          td #{job.source}
          td
            pre #{JSON.stringify(job.params)}
          td
            - var resultClass = ('success' === job.result ? 'success': 'error')
            span(class=resultClass) #{job.result}
  else
    em No jobs found



mixin renderExpandableChunk(text, isCode)
  - text = text || ''
  - var preview = text.substr(0, 100)
  - var tooLong = preview.length < text.length

  div(class=(tooLong ? 'expandable': ''))
    if isCode
      if tooLong
        pre.collapsed #{preview}
          span.indicator Click to expand
        pre.expanded #{text}
      else
        pre #{text}
    else
      if tooLong
        div.collapsed #{preview}
          span.indicator Click to expand
        div.expanded #{text}
      else
        div #{text}





mixin form(form, submitBtnText)
  if error
    div.error #{error.msg}

  - var fieldErrors = error ? error.errors : {}

  form(method="POST")
    - each fieldName in form.order
      div.field
        - var field = form.fields[fieldName]
        label #{field.label}
        if "text" == field.type
          input(name=field.name, type="text", value=field.value)
        else if "select" == field.type  
          select(name=field.name, value=field.value)
            - each label, val in field.options
                option(value=val) #{label}

        if field.helpText
          .help #{field.helpText}

        if fieldErrors[fieldName]
          - each errorMeta, errorId in fieldErrors[fieldName].errors
            div.error #{errorMeta.msg}


    input(type="submit", value=submitBtnText)

