mixin renderUrlTemplate(urlTemplate)
  span.urlTemplate
    span.path #{urlTemplate.path}
    if !_.isEmpty(urlTemplate.queryParams)
      span ?
      span.params
        - each meta,name in urlTemplate.queryParams
          span.param(title=meta.desc)
            span.name #{name}
            span =
            span.value #{meta.value}
          span.qryStringSpacer &



mixin renderLogTable(logs, hideTriggerColumn, hideJobColumn)
  if 0 < logs.length
    table.logs
      thead
        th.time Time

        if !hideTriggerColumn
          th.trigger Trigger

        if !hideJobColumn
          th.job Job

        th.text Text
      - each log in logs
        tr
          td #{prettyPrintTimestamp(log.created_at)}

          if !hideTriggerColumn
            - var triggerName = log.trigger.description || log.trigger;
            td 
              a(title="View trigger", href="/triggers/" + (log.trigger._id || log.trigger)) #{triggerName}

          if !hideJobColumn
            td 
              a(title="View job", href=log.job.viewUrl) #{log.job._id}

          - var textTdClass = (log.meta && log.meta.console ? 'console ': '')
          - var errorClass = (log.meta && log.meta.error ? 'error ': '')
          td(class="text " + textTdClass + errorClass)
            if log.meta && (log.meta.console || log.meta.code)
              +renderExpandableChunk(log.text, true, errorClass)
            else
              +renderExpandableChunk(log.text, false, errorClass)

            // additional data
            if log.meta && log.meta.data
              code #{JSON.stringify(log.meta.data)}

  else
    em No logs found



mixin renderJobTable(logs)
  if 0 < jobs.length
    table.jobs
      thead
        th.job Job
        th.time Time
        th.source Source
        th.params Params
        th.status Status
      - each job in jobs
        tr
          td
            a(href=job.viewUrl) #{job._id}
          td #{prettyPrintTimestamp(job.created_at)}
          td #{job.source}
          td
            if !_.isEmpty(job.queryParams)
              pre #{JSON.stringify(job.params)}
            else
              em -
          td.status
            - var resultClass = ('failed' === job.status ? 'error': '')
            span(class=resultClass) #{job.status}
  else
    em No jobs found



mixin renderExpandableChunk(text, isCode, cssClasses)
  - text = text || ''
  - cssClasses = cssClasses || ''
  - var preview = text.substr(0, 100)
  - var tooLong = preview.length < text.length

  div(class=(tooLong ? 'expandable': ''))
    if isCode
      if tooLong
        pre(class=cssClasses + ' collapsed') #{preview}
          span.indicator Click to expand
        pre(class=cssClasses + ' expanded') #{text}
      else
        pre #{text}
    else
      if tooLong
        div(class=cssClasses + ' collapsed') #{preview}
          span.indicator Click to expand
        div(class=cssClasses + ' expanded') #{text}
      else
        div #{text}





mixin form(form, submitBtnText)
  if error
    div.error #{error.msg}

  - var fieldErrors = error ? error.errors : {}

  form(method="POST")
    - each fieldName in form.order
      div.field
        - var field = form.fields[fieldName]
        label #{field.label}
        if "text" == field.type
          input(name=field.name, type="text", value=field.value)
        else if "select" == field.type  
          select(name=field.name, value=field.value)
            - each label, val in field.options
                option(value=val) #{label}

        if field.helpText
          .help #{field.helpText}

        if fieldErrors[fieldName]
          - each errorMeta, errorId in fieldErrors[fieldName].errors
            div.error #{errorMeta.msg}


    input(type="submit", value=submitBtnText)

