- var pageTitle = playbook.name

include ../_mixins

extends layout

block subContent1
  #playbook
    h1 Playbook: #{playbook.name}

    +renderExpandableChunk(code, true)

    h2 Triggers

    .triggers
      if 0 < triggers.length
        table
          thead
            th Description
            th Type
          - each trigger in triggers
            tr
              td
                a(href=trigger.viewUrl, title="View trigger") #{trigger.description}
              td #{trigger.type}
                
      else
        em No triggers set

    a.btn.addTrigger(href=playbook.viewUrl + "/addTrigger") Add trigger

